node_modules/**/*
!node_modules/bmd-push-react-native
!node_modules/react-native-camera-kit
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

#IOS

ios/Pods/
ios/build/
ios/.expo
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspective3
!default.perspective3
ios/xcuserdata
*.xccheckout
*.moved-aside
ios/DerivedData
*.hmap
*.ipa
ios/.DS_Store

# Android

android/.idea
android/.gradle
android/app/build
android/app/app.iml
android/local.properties
android/dep
android/app/google-services.json

.expo-shared
config